.app {
  width: 360px;
  margin: 20px auto;
  border: 1px cadetblue solid;
}

nav a {
  text-decoration: none;
}

a.selected {
  text-decoration: underline;
}

nav {
  float: right;
}

ul li {
  display: inline-block;
  margin: 5px 10px;
}

.content {
  margin: 10px;
  clear: both;
}
